.login-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../assets/img/login/login.png) 100% 100%;

}

.login-main {
  margin: 187px auto;
  padding: 20px;
  width: 340px;
  background-color: rgba(5, 5, 5, .3);
  border-radius: 3px;
  color: #fff;
}

.login-btn-wrap {
  display: flex;
  justify-content: space-between;
}

.login-btn-wrap>div {
  font-size: 18px;
  text-align: center;
  width: 143px;
  height: 40px;
  line-height: 40px;
}

.login-btn {
  color: #000;
  background-color: #fff;
}

.login-register {
  background-color: #e65e42;
}

.login-loginbar>input {
  margin-top: 10px;
  padding-left: 15px;
  width: 100%;
  height: 40px;
}

.login-verification {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.login-verification>div {
  width: 143px;
  height: 40px;
  line-height: 40px;
}

.verification-input {
  padding-left: 15px;
  width: 100%;
  height: 100%;
}

.verification {
  margin-top: 2px;
  text-align: center;
  color: #000;
  background-color: #fff;
}

.login-submit {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  border: none;
  color: #fff;
  background-color: #7fa900;
}

.forget-password {
  margin-top: 10px;
  text-align: right;
}